.form-group
	display flex
	align-items flex-end
	margin-bottom 17px

	&__label
		margin-right 15px
		margin-bottom 3px

	&__input
		flex 1
		font-family courier
		font-weight normal
		background url('../images/line.png') no-repeat bottom / 100%
		border none
		font-size 30px
		line-height 1.2
		padding 0 15px 9px
