.form-group
	display flex
	align-items flex-end
	margin-bottom 17px

	&__label
		margin-right 15px
		margin-bottom 3px

	&__input
		flex 1
		font-family courier
		font-weight normal
		background-image url('../images/line.png')
		background-color transparent
		background-repeat no-repeat
		background-position bottom
		background-size 100% 4px
		border none
		font-size 30px
		line-height 1.2
		padding 0 15px 9px
		color #231f20

	&_content_date &__input
		flex none
		width 213px
		background-size auto 4px
