mixin javascript-skill()
	+b.javascript-skill
		+e.slider
		+e.pips
			+e.pip_lvl_beginner
				| Не&nbsp;владею
			+e.pip_lvl_junior
				| Использую готовые решения
			+e.pip_lvl_middle
				| Использую готовые решения и&nbsp;умею их&nbsp;переделывать
			+e.pip_lvl_senior
				| Пишу сложные скрипты
