include ../../../node_modules/bemto.jade/bemto.jade
include ../page/page
include ../box/box
include ../scripts/scripts


doctype html
html(lang='ru')
	include ../head/head
	+page
		+box
			block content

		+scripts(['app.min.js'])
