mixin note()
	+b.note Отметьте только те&nbsp;технологии и&nbsp;типы задач, с&nbsp;которыми вы&nbsp;хорошо знакомы. Отсутствие опыта отнюдь не&nbsp;означает, что у&nbsp;вас меньше шансов стать нашим сотрудником. Это означает, что вы&nbsp;будете получать те&nbsp;задачи, с&nbsp;которыми гарантированно будете справляться.
