.checkbox
	display flex
	align-items baseline
	max-width 240px
	margin-bottom 2px
	font-size 21px
	line-height 25px
	color #000
	cursor pointer

	&__input
		display none

	&__icon
		sprite $checkbox
		flex none
		margin-right 2px
		position relative
		top 2px

	&__input:checked + &__icon {
		sprite $checkbox_checked
	}

	&__label
		display inline-block
		margin-top -2px
