ptsans = 'PT Sans', sans-serif; // added with google fonts
courier = 'Courier New', monospace; // most probably already on user machine. Win: 99.73%  Mac: 95.68%. Source: http://www.cssfontstack.com/
