mixin htmlacademy()
	+b.htmlacademy 
		+e.label Выпускник 
			a(href="https://htmlacademy.ru/profile/id34688") htmlacademy.ru
		+radio()(name='htmlacademy' checked)
			span Да
		+radio()(name='htmlacademy')
			span Нет
