.radio
	display inline-flex
	align-items center
	max-width 250px
	margin-right 23px

	&__input
		display none

	&__icon
		sprite $radio
		flex none
		margin-right 4px

	&__input:checked + &__icon {
		sprite $radio_checked
	}
