@import '../../../node_modules/nouislider/distribute/nouislider.min.css'

.noUi-background
	background-image url('../images/line.png')
	background-color transparent
	background-repeat no-repeat
	background-size 100%
	border none
	box-shadow none
	border-radius 0

:root .noUi-handle
	background-image url('../images/dragger.png')
	background-color transparent
	background-repeat no-repeat
	border none
	box-shadow none
	width 17px
	height 14px
	left -10px
	top -15px

	&:before,
	&:after
		display none
